{:paths ["src" "resources"]
 :deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript.git"
                                   :sha "be792c950ad56b23454e9136260ce7a49073323c"}
        io.methvin/directory-watcher {:mvn/version "0.9.9"}}
 :aliases {:repl {:extra-paths ["test"]
                  :extra-deps {org.slf4j/slf4j-simple {:mvn/version "1.7.30"}}}}}
